﻿@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="index-main">
    <div class="main-text">Welcome To Dashboard</div>
    <div class="main-info-container">
        <div class="main-info-card">
            <div class="main-info-card-content">
                <div>Airports</div>
                <img src="./assets/mdi_airport.png" />
                <div>@Model.AirlinesCount</div>
            </div>
            <a asp-controller="Airport" asp-action="Index" class="main-info-card-link">Add New Airport</a>
        </div>
        <div class="main-info-card">
            <div class="main-info-card-content">
                <div>Airlines</div>
                <img src="./assets/ri_plane-fill.png" />
                <div>@Model.AirportsCount</div>
            </div>
            <a asp-controller="Airline" asp-action="Index" class="main-info-card-link">Add New Airline</a>
        </div>
        <div class="main-info-card">
            <div class="main-info-card-content">
                <div>Flights</div>
                <img src="./assets/carbon_flight-schedule.png" />
                <div>@Model.FlightsCount</div>
            </div>
            <a asp-controller="Flight" asp-action="Index" class="main-info-card-link">Add New Flight</a>
        </div>

    </div>
</div>
