﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rise Airlines</title>
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <script src="~/js/buttonEvents.js" async defer></script>
    <script src="~/js//validation.js" async defer></script>
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navigation")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">Rise Airlines 2024 &#169;</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
