﻿<nav class="navbar">
    <div class="navbar-title">
        Rise Airlines
        <img src="~/assets/header-plane.png" class="navbar-image" />
    </div>
    <ul class="navbar-links">
        <li><a asp-controller="Airport" asp-action="Index">Airports</a></li>
        <li><a asp-controller="Airline" asp-action="Index">Airlines</a></li>
        <li><a asp-controller="Flight" asp-action="Index">Flights</a></li>
    </ul>
</nav>