﻿@model IEnumerable<string>

<div class="serachbar-container">
    <form method="get">
        <input type="text" name="searchTerm" placeholder="Search..." class="searchbar-input">
        <select name="selectedOption" class="searchbar-filter">
            @foreach (var property in Model)
            {
                if (@property != "Id")
                {
                    <option value="@property">@property</option>
                }
            }
        </select>
        <button type="submit" class="searchbar-button">Search</button>
        <button asp-action="Index" class="searchbar-button">Reset</button>
    </form>
</div>



