﻿@using AirlinesWebServices.Models
@model IEnumerable<AirlinesWebServices.Models.Airline>

@{
    ViewData["Title"] = "Airline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<string> propertyList = typeof(Airline).GetProperties().Select(property => property.Name).Where(property => property != "Id").ToList();
}

<div class="main">
    <div class="main-header">
        <div class="main-header-arrow-image">
            <a asp-controller="Home" asp-action="Index"><img src="./assets/left sidebar.png" alt=""></a>
        </div>
        <div class="main-header-title">Airlines</div>
    </div>
    <div class="main-line"></div>
    <sectiion id="table-container">
    <partial>
      @await Html.PartialAsync("_Search", propertyList)
    </partial>
        <table class="main-table" id="main-table">
        <thead class="main-table-head">
            <tr>
                <th>Name</th>
                <th>Founded</th>
                <th>Fleet size</th>
                <th>Descriprion</th>
            </tr>
        </thead>
            <tbody class="main-table-body" id="main-table-body">
            @if (Model.Count() > 0)
            {

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Founded)</td>
                        <td>@Html.DisplayFor(modelItem => item.FleetSize)</td>
                        <td class="main-table-body-row">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No airlines found</td>
                </tr>
            }
        </tbody>
    </table>
        <button id="main-show-all-table-button" onclick="toggleTableRows()">Show more</button>
    </sectiion>
    <button class="main-show-form-button" id="main-show-form-button" onclick="toggleViews()">Show form</button>
    <section id="form-container">
        <fieldset class="main-form">
            <legend>Add New Airline</legend>
            <form asp-action="Index" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="main-form-input-field">
                    @Html.Hidden("Id", new Airline())
                </div>
                <div class="main-form-input-field">
                    <label for="airline-name">Airline name</label>
                    <input type="text" name="Name" id="airline-name" required>
                    <div class="main-form-error-field" id="airline-name-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airline-founded">Founded</label>
                    <input type="date" value="2000-01-01" name="Founded" id="airline-founded" required>
                    <div class="main-form-error-field" id="airline-founded-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airline-fleet-size">Fleet size</label>
                    <input type="number" name="FleetSize" id="airline-fleet-size" required>
                    <div class="main-form-error-field" id="airline-fleet-size-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airline-description">Description</label>
                    <input type="text" name="Description" id="airline-description" required>
                    <div class="main-form-error-field" id="airline-description-error"></div>
                </div>
                <button type="submit" class="main-form-submit-button" id="main-form-submit-button">Submit</button>
            </form>
        </fieldset>
    </section>
</div>
