﻿@using AirlinesWebServices.Models
@model IEnumerable<AirlinesWebServices.Models.Flight>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<string> propertyList = typeof(Flight).GetProperties().Select(property => property.Name).Where(propertyList => propertyList != "Id").ToList();
}

<div class="main">
    <div class="main-header">
        <div class="main-header-arrow-image">
            <a asp-controller="Home" asp-action="Index"><img src="./assets/left sidebar.png" alt=""></a>
        </div>
        <div class="main-header-title">Flights</div>
    </div>
    <div class="main-line"></div>
    <section id="table-container">
        <partial>
            @await Html.PartialAsync("_Search", @propertyList)
        </partial>
        <table class="main-table" id="main-table">
            <thead class="main-table-head">
                <tr>
                    <th>Flight number</th>
                    <th>Airline</th>
                    <th>Depature airport</th>
                    <th>Arrival airport</th>
                    <th>Departure date & time</th>
                    <th>Arrival date & time</th>
                </tr>
            </thead>
            <tbody class="main-table-body" id="main-table-body">
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.FlightNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.AirlineName)</td>
                            <td>@Html.DisplayFor(modelItem => item.DepartureAirportName)</td>
                            <td>@Html.DisplayFor(modelItem => item.ArrivalAirportName)</td>
                            <td>@Html.DisplayFor(modelItem => item.DepartureDateTime)</td>
                            <td>@Html.DisplayFor(modelItem => item.ArrivalDateTime)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No flights found</td>
                    </tr>
                }

            </tbody>
        </table>
        <button id="main-show-all-table-button" onclick="toggleTableRows()">Show more</button>
    </section>
    <button class="main-show-form-button" id="main-show-form-button" onclick="toggleViews()">Show form</button>
    <section id="form-container">
        <fieldset class="main-form">
            <legend>Add New Flight</legend>
            <form asp-action="Index" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="main-form-input-field">
                    @Html.Hidden("Id", new Flight())
                </div>
                <div class="main-form-input-field">
                    <label for="flight-flight-number">Flight number</label>
                    <input type="text" name="FlightNumber" id="flight-flight-number" required>
                    <div class="main-form-error-field" id="flight-flight-number-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="flight-airline-name">Airline</label>
                    <input type="text" name="AirlineName" id="flight-airline-name" required>
                    <div class="main-form-error-field" id="flight-airline-name-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="flight-departure-airport-name">Departure airport</label>
                    <input type="text" name="DepartureAirportName" id="flight-departure-airport-name" required>
                    <div class="main-form-error-field" id="flight-departure-airport-name-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="flight-arrival-airport-name">Arrival airport</label>
                    <input type="text" name="ArrivalAirportName" id="flight-arrival-airport-name" required>
                    <div class="main-form-error-field" id="flight-arrival-airport-name-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="flight-departure-date-time">Departure time</label>
                    <input type="datetime-local" value="2000-01-01T11:00" name="DepartureDateTime" id="flight-departure-date-time" required>
                    <div class="main-form-error-field" id="flight-departure-date-time-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="flight-arrival-date-time">Arrival time</label>
                    <input type="datetime-local" value="2000-01-01T11:00" name="ArrivalDateTime" id="flight-arrival-date-time" required>
                    <div class="main-form-error-field" id="flight-arrival-date-time-error"></div>
                </div>
                <button type="submit" class="main-form-submit-button" id="main-form-submit-button">Submit</button>
            </form>
        </fieldset>
    </section>
</div>
