﻿@using AirlinesWebServices.Models
@model IEnumerable<AirlinesWebServices.Models.Airport>

@{
    ViewData["Title"] = "Airport";
}

@{
    List<string> propertyList = typeof(Airport).GetProperties().Select(property => property.Name).Where(property => property != "Id").ToList();
}

<div class="main">
    <div class="main-header">
        <div class="main-header-arrow-image">
            <a asp-controller="Home" asp-action="Index"><img src="./assets/left sidebar.png" alt=""></a>
        </div>
        <div class="main-header-title">Airports</div>
    </div>
    <div class="main-line"></div>
    <section id="table-container">
    <partial>
        @await Html.PartialAsync("_Search", @propertyList)
    </partial>
        <table class="main-table" id="main-table">
        <thead class="main-table-head">
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Code</th>
                <th>Runways</th>
                <th>Founded</th>
            </tr>
        </thead>
            <tbody class="main-table-body" id="main-table-body">
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RunwaysCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Founded)
                        </td>
                    </tr>
                }
            }
            else
            {
             <tr>
                 <td colspan="6">No airports found</td>
             </tr>   
            }
            
        </tbody>
    </table>
        <button id="main-show-all-table-button" onclick="toggleTableRows()">Show more</button>
    </section>
    <button class="main-show-form-button" id="main-show-form-button" onclick="toggleViews()">Show form</button>
    <section id="form-container">
        <fieldset class="main-form">
            <legend>Add New Airport</legend>
            <form asp-action="Index" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="main-form-input-field">
                    @Html.Hidden("Id",new Airport())
                </div>
                <div class="main-form-input-field">
                    <label for="airport-name">Airport name</label>
                    <input type="text" name="Name" id="airport-name" required>
                    <div class="main-form-error-field" id="airport-name-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airport-country">Country</label>
                    <input type="text" name="Country" id="airport-country" required>
                    <div class="main-form-error-field" id="airport-country-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airport-city">City</label>
                    <input type="text" name="City" id="airport-city" required>
                    <div class="main-form-error-field" id="airport-city-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airport-code">Code</label>
                    <input type="text" name="Code" id="airport-code" required>
                    <div class="main-form-error-field" id="airport-code-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airport-runways-count">Runways count</label>
                    <input type="number" name="RunwaysCount" id="airport-runways-count" required>
                    <div class="main-form-error-field" id="airport-runways-count-error"></div>
                </div>
                <div class="main-form-input-field">
                    <label for="airport-founded">Founded</label>
                    <input type="date" value="2000-01-01" name="Founded" id="airport-founded" required>
                    <div class="main-form-error-field" id="airport-founded-error"></div>
                </div>
            <button type="submit" class="main-form-submit-button" id="main-form-submit-button">Submit</button>
            </form>
           
        </fieldset>
    </section>
</div>
