* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Type selectors */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding: 10px 15px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: medium;
    letter-spacing: 0.05em;
}

.navbar-title {
    font-size: 1.3em;
}

.navbar-image {
    width: 20px;
    height: 20px;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
}

    .navbar-links li {
        padding-left: 30px;
        list-style-type: none;
    }

    .navbar-links a:hover,
    .navbar-links a:active {
        color: #FCA311;
    }

/* Footer styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

/* index.html styles */
/* Main dashboard styles ( index.html) */
#index-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.main-text {
    font-size: 1.7em;
    font-weight: bold;
    padding: 40px;
}

.main-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.main-info-card {
    display: flex;
    flex-direction: column;
}

.main-info-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid #FCA311;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bolder;
}

    .main-info-card-content img {
        padding: 30px 50px;
    }

.main-info-card-link {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #E5E5E5;
    color: #000000;
    text-align: center;
    font-weight: bolder;
}

    .main-info-card-link:hover, .main-info-card-link:active {
        background-color: #FCA311;
        color: white;
    }

/* airports.html, airlines.html and flights.html styles */
/* Main and header styles */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;
    width: 100%;
}

.main-header-arrow-image {
    position: absolute;
    left: 150px;
}

.main-header-title {
    font-size: 2.1em;
    text-align: center;
}

.main-line {
    border-bottom: 3px solid #E5E5E5;
    height: 5px;
    width: 52.5%;
    margin-bottom: 20px;
}

/* Table styles */
.main-table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    max-height: 450px;
    border: 1px solid black;
}

.main-table:hover {
    overflow-y: auto;
}

.main-table-head {
    background-color: #E5E5E5;
}

.main-table-body {
    text-align: center;
}

thead {
    position: sticky;
    top: 0;
}

tr,
td,
th {
    padding: 10px;
    border: 1px solid black;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    transition: height 0.5s;
}

.main-table-body-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

.main-table-body-row:hover {
    white-space: normal;
}

.main-table-body-row:hover tr {
    height: auto;
}

/* Scrollbar styles */
.main-table::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.main-table::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
.main-table::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.main-table::-webkit-scrollbar-thumb:hover {
        background: #555;
}
.main-table-action-buttons{
    padding-left: 0px;
    padding-right: 0px;
    width:10%;
}

.main-table-edit-action-button{
    padding: 8px 14px;
    border-radius: 10px;
    background-color: #FCA311;
    border: 1px solid #FCA311;
    color: white;
    font-size: 0.8em;
    font-weight: bolder;
}
.main-table-delete-action-button{
    padding: 8px 8px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #FCA311;
    border: 1px solid #FCA311;
    color: white;
    font-size: 0.8em;
    font-weight: bolder;
}

#main-show-all-table-button {
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #FCA311;
    border: 1px solid #FCA311;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    position: relative;
    left: 40.5%;
    display: none;
}

.main-show-form-button {
    padding: 10px 120px;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #FCA311;
    border: 1px solid #FCA311;
    color: white;
    font-size: 1em;
    font-weight: bolder;
}

/* Form styles */
#form-container {
    display: none;
}

.main-form {
    border: 2px solid #E5E5E5;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 170px;
    padding: 30px;
}

.main-form-input-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 400px;
}

input {
    border-radius: 7px;
    border: 2px solid #E5E5E5;
    height: 30px;
}

.main-form-error-field {
    color: red;
    padding: 5px 5px;
    display: none;
}

.main-form-submit-button {
    padding: 10px 100px;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #FCA311;
    border: 1px solid #FCA311;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    width: 400px;
}

.main-form-submit-button-disabled {
    background-color: #FCDBA4;
    border-color: #FCDBA4;
    cursor: not-allowed;
}
/* Serach partial view styles */

.serachbar-container {
    margin-bottom: 20px;
    padding: 0px 30px;
    display: flex;
}

.searchbar-input {
    margin-right: 20px;
    width: 250px;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.searchbar-filter {
    margin-right: 20px;
    width: 180px;
    border-radius: 10px;
    padding: 6px 10px;
}

.searchbar-button {
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: #FCA311;
    border: 1px solid #FCA311;
    color: white;
    font-size: 1em;
    font-weight: bolder;
    width: 120px;
    padding: 6px 0px;
}
